<div class="sidebar">

    <div class="logo">
        <h3>⚡ InfraPulse</h3>
    </div>

    <ul>

        <li>
            <a href="{% url 'dashboard' %}">
                <i class="bi bi-grid-fill"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-server"></i>
                Servers
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-cloud-upload"></i>
                Deployments
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-bar-chart-fill"></i>
                Monitoring
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-bell-fill"></i>
                Alerts
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-gear-fill"></i>
                Settings
            </a>
        </li>

        <li>
            <a href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                Logout
            </a>
        </li>

    </ul>

</div>